/* ==========================================
   FANTA F1 PREDICTION
   ADMIN PANEL
   Versione 2.0
========================================== */

:root{

    --bg:#0f1724;
    --panel:#182436;
    --panel-light:#22314a;

    --primary:#ff2d2d;
    --primary-dark:#c51d1d;

    --text:#ffffff;
    --text-light:#d9d9d9;

    --border:#31445f;

    --success:#28c76f;
    --warning:#ffb400;

    --shadow:
        0 12px 30px rgba(0,0,0,.35);

    --radius:14px;

    --transition:.25s ease;

}

/* ==========================================
   RESET
========================================== */

*{

    margin:0;
    padding:0;
    box-sizing:border-box;

}

html{

    scroll-behavior:smooth;

}

body{

    font-family:

        "Segoe UI",
        Arial,
        Helvetica,
        sans-serif;

    background:var(--bg);

    color:var(--text);

    min-height:100vh;

}
